/* Root Styles */
:root {
  --clr-primary-pink: hsl(322, 100%, 66%);
  --clr-neutral-palecyan: hsl(193, 100%, 96%);
  --clr-neutral-darkcyan: hsl(192, 100%, 9%);
  --clr-neutral-grayishblue: hsl(208, 11%, 55%);
  --ff-heading: "Poppins";
  --ff-body: "Open Sans";
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global Styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 1.5rem 6rem;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-primary-pink);
  color: var(--clr-neutral-palecyan);
  text-transform: capitalize;
}

button:hover {
  opacity: 0.8;
  transform: scale(0.98);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: var(--ff-heading), sans-serif;
  text-transform: capitalize;
  color: var(--clr-neutral-darkcyan);
}

h1 {
  font-size: 4.2rem;
  line-height: 1.3;
}

p {
  line-height: 1.5;
}

/* Body Styles */
body {
  font-size: 1.8rem;
  font-family: var(--ff-body), sans-serif;
  scroll-behavior: smooth;
  min-height: 100vh;
}

/* Header Styles */
header {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  padding-block: 4.8rem;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div button {
  background-color: #fff;
  color: var(--clr-neutral-darkcyan);
}

/* Styled Card */
.styled-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin: 4rem 0;
  padding: 4rem 6rem;
  justify-content: space-between;
  gap: 15%;
}

.styled-card div:last-child {
  width: 40%;
}

.styled-card div:first-child {
  flex: 1;
}

.styled-card p {
  color: hsl(208, 11%, 55%);
  margin-top: 1.6rem;
}

.styled-card:nth-child(even) {
  flex-direction: row-reverse;
}

/* Media Queries */
@media (max-width: 768px) {
  header {
    padding-block: 3.2rem;
  }

  header img {
    width: 120px;
  }

  .hero {
    text-align: center;
    height: 100rem;
    background-image: url("./assets/bg-hero-mobile.svg");
  }

  .hero > div {
    padding-top: 7rem;
    grid-template-columns: 2fr;
    align-content: center;
  }

  .hero div > div {
    margin: 0 auto;
  }

  .styled-card {
    gap: 5rem;
    text-align: center;
    padding: 4rem 2.5rem;
    flex-direction: column-reverse;
  }

  .styled-card:nth-child(even) {
    flex-direction: column-reverse;
  }

  .styled-card div:last-child {
    width: 100%;
  }

  .styled-section {
    margin-block: 10rem;
  }

  .social-icons {
    justify-content: center;
    margin-top: 3rem;
  }

  footer div > div {
    flex-direction: column;
    gap: initial;
    margin-block: 3rem 1rem;
  }

  footer ul:first-child {
    flex: 1;
    margin-bottom: 3rem;
  }

  footer div p {
    text-align: center;
  }

  .banner {
    padding: 6rem 2rem;
  }

  button {
    padding: 0.8rem 2.4rem;
  }
}

.styled-section {
  margin-block: 16rem;
}

.container {
  width: min(1280px, 90%);
  margin: 0 auto;
}

.social-icons {
  display: flex;
  gap: 2.5rem;
}

.social-icons li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid currentColor;
  transition: all 0.3s ease-in-out;
}

.social-icons a {
  font-size: 2rem;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.social-icons li:hover {
  transform: translateY(3px);
  color: var(--clr-primary-pink);
}

footer {
  background-color: var(--clr-neutral-darkcyan);
  padding-block: 10rem 5rem;
  position: relative;
  color: var(--clr-neutral-palecyan);
  font-size: 1.6rem;
}

footer::before {
  content: "";
  display: block;
  position: absolute;
  top: -9rem;
  height: 9rem;
  background-color: inherit;
  z-index: -1;
  width: 100%;
}

footer div > div {
  display: flex;
  margin-block: 5rem;
  gap: 7%;
}

footer li {
  margin-bottom: 2rem;
}

footer ul {
  flex: 1;
}

footer ul:first-child {
  flex: 3;
}

footer ul:first-child li {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

footer ul:first-child li:first-child img {
  align-self: flex-start;
  position: relative;
  top: 0.5rem;
}

footer p {
  text-align: right;
  font-size: 1.4rem;
}

footer a:hover {
  text-decoration: underline;
}

.banner {
  max-width: 70rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 6rem;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  background-color: #fff;
}

.banner h2 {
  margin-bottom: 3rem;
}

.hero {
  height: 90vh;
  background-color: var(--clr-neutral-palecyan);
  background-image: url("./assets/bg-hero-desktop.svg");
  background-size: cover;
  background-position: center;
}

.hero > div {
  height: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding-top: 16.4rem;
  align-items: center;
}

.hero div > div {
  max-width: 50rem;
}

.hero p {
  margin-block: 3.2rem;
}

@media (max-width: 450px) {
  .hero {
    height: 90rem;
  }
}
